<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}PyConAU 2019{% endblock %}</title>

    <link rel="stylesheet" href="{{ '/static/css/reset.css'|asseturl }}">
    <link rel="stylesheet" href="{{ '/static/css/reveal.css'|asseturl }}">
    <link rel="stylesheet" href="{{ '/static/css/theme/black.css'|asseturl }}">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="{{ '/static/lib/css/monokai.css'|asseturl }}">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '{{ '/static/css/print/pdf.css'|asseturl }}' : '{{ '/static/css/print/paper.css'|asseturl }}';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">{%- block body %}{% endblock %}</div>
    <script src="{{ '/static/js/reveal.js'|url }}"></script>
    <script>
      Reveal.initialize({
        dependencies: [
          { src: '{{ '/static/plugin/markdown/marked.js'|url }}' },
          { src: '{{ '/static/plugin/markdown/markdown.js'|url }}' },
          { src: '{{ '/static/plugin/notes/notes.js'|url }}', async: true },
          { src: '{{ '/static/plugin/highlight/highlight.js'|url }}', async: true }
        ]
      });
    </script>
  </body>
</html>
