{% macro render_transitions(slide) %}
{%- if slide.transition and slide.transition_out %}
 data-transition="{{ slide.transition }}-in {{ slide.transition_out }}-out"
{% elif slide.transition %}
 data-transition="{{ slide.transition }}"
{% elif slide.transition_out %}
 data-transition="{{ slide.transition_out }}-out"
{% endif %}{% endmacro %}
{% macro render_slide(slide) %}
    <section{{ render_transitions(slide) }} data-background-image="/dangers-of-evalcompile/boom/nuke.jpg">
        {{ slide.body }}
        {% if slide.notes %}
            <aside class="notes">
                {{ slide.notes }}
            </aside>
        {% endif %}
    </section>
{% endmacro %}
{%- if this.children %}
<section>
    {{ render_slide(this) }}
    {% for child in this.children %}{{ render_slide(child) }}{% endfor %}
</section>
{% else %}
{{ render_slide(this) }}
{% endif %}
