{% macro render_transitions(slide) %}
{%- if slide.transition and slide.transition_out %}
 data-transition="{{ slide.transition }}-in {{ slide.transition_out }}-out"
{% elif slide.transition %}
 data-transition="{{ slide.transition }}"
{% elif slide.transition_out %}
 data-transition="{{ slide.transition_out }}-out"
{% endif %}{%- if slide.extra_data_attrs %} {{ slide.extra_data_attrs|safe }}{% endif %}{% endmacro %}
{% macro render_slide(slide) %}
    <section{{ render_transitions(slide) }}>
        {{ slide.body }}
        {% if slide.notes %}
            <aside class="notes">
                {{ slide.notes }}
            </aside>
        {% endif %}
    </section>
{% endmacro %}
{%- if this.children %}
<section>
	{{ render_slide(this) }}
    {% for child in this.children %}
		{% with this = child %}{% include child._template %}{% endwith %}
		{# render_slide(child) #}
    {% endfor %}
</section>
{% else %}
{{ render_slide(this) }}
{% endif %}
